<div class="container-fluid">
  <%= render "users/user_profile.html.erb" %>

  <% if user_signed_in? %>
    <div class="col-md-8">
  <% else %>
    <div class="col-md-6 offset-md-3">
  <% end %>

  <h1 class="text-center">ツイート一覧</h1>
    <div class="d-flex flex-column">
      <% @tweets.each do |tweet| %>
        <div class="tweet-index mx-auto">
          <div class="card border-secondary mb-3" style="width: 30rem;">
            <div class="card-header">
              <% if tweet.user.avatar.attached? %>
                <%= image_tag tweet.user.user_icon %>
              <% else %>
                <%= image_tag 'no-image-user_icon.jpg' %>
              <% end %>
              <%= link_to tweet.user.name, user_path(tweet.user.id), class: "card-link"%>
              <%= link_to 'ツイートの詳細', tweet_path(tweet.id), class: 'card-link' %>
            </div>
            <div class="card-body">
              <p class="card-text"><%= tweet.content %></p>
              <div id="tweet_time">
                <%= simple_time(tweet.created_at) %>
              </div>
              <div id="like-count">
                <%= tweet.liked_users.count %> <%= icon('fa','thumbs-up') %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <%= paginate @tweets %>
    </div>
  </div>
</div>
<% if user_signed_in? %>
  </div>
<% end %>
