<div class="container-fluid">
<h1 class="text-center">すべてのユーザー</h1>

  <div class="col-md-6 offset-md-3">
  <% @users.each do |user| %>
    <div class="card mx-auto text-center mb-3 border border-secondary" style="width: 18rem;">
      <% if user.avatar.attached? %>
        <%= image_tag user.thumbnail, class: 'mx-auto card-img-top' %>
      <% else %>
        <%= image_tag 'no-image-thumbnail.jpg', class: 'mx-auto card-img-top' %>
      <% end %>
      <div class="card-body">
        <%= link_to  user.name, user, class: 'card-link text-center' %>
        <div class="text-center mt-2">プロフィール</div>
        <div><%= user.profile %></div>
      </div>
    </div>
  <% end %>
  </div>
</div>
<%= paginate @users %>