<div class="container-fluid">
  <%= render "users/user_profile.html.erb" %>

  <% if user_signed_in? %>
    <div class="col-md-8">
  <% else %>
    <div class="col-md-6 offset-md-3">
  <% end %>
  
  <h1 class="text-center">ユーザープロフィール</h1>
    <% if @user.avatar.attached? %>
      <%= image_tag @user.thumbnail,class: "d-block mx-auto" %>
    <% else %>
      <%= image_tag 'no-image-thumbnail.jpg', class: "d-block mx-auto" %>
    <% end %>
    <p class="text-center"><strong>ユーザーネーム</strong> : <%= @user.name %></p>
    <p class="text-center"><strong>プロフィール</strong> : <%= @user.profile %><p>
    <div class="follow-stats text-center">
      <%= render 'users/follow_form' %>
      <%= render 'users/stats' %>
    </div>
    <div class="d-flex flex-column">
      <% @tweets.each do |tweet| %>
        <div class="tweet-index mx-auto">
          <div class="card border-secondary mb-3" style="width: 30rem;">
            <div class="card-header">
              <% if tweet.user.avatar.attached? %>
                <%= image_tag tweet.user.user_icon %>
              <% else %>
                <%= image_tag 'no-image-user_icon.jpg' %>
              <% end %>
              <%= link_to tweet.user.name, user_path(tweet.user.id), class: "card-link"%>
            </div>
            <div class="card-body">
              <p class="card-text"><%= tweet.content %></p>
              <% if user_signed_in? %>
                <% if current_user == tweet.user %>
                <div id="tweet-destroy">
                  <%= link_to '削除',"/tweets/#{tweet.id}", method: :delete %>
                </div>
                <% end %>
              <% end %>
              <div id="tweet_time">
                <%= simple_time(tweet.created_at) %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <%= paginate @tweets %>
      </div>
    </div>
  </div>
<% if user_signed_in? %>
  </div>
<% end %>