<h1>Users#show</h1>
<% if @user.avatar.attached? %>
  <%= image_tag @user.thumbnail %>
<% end %>
<p>ユーザーネーム : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>
<p>プロフィール:<%= @user.profile %><p>
<%= render 'follow_form' %>
<%= render 'stats' %>