<header>
  <div class="container-fluid px-0">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #00ACEE;">
      <%= link_to "TwitterClone", root_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to root_path, class: "nav-link" do %>
            <%= icon("fas","home") %>
            Home
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to tweets_path, class: "nav-link" do %>
            <%= icon("fas","comments") %>
            つぶやきをみる
            <% end %>
          </li>
        <% if user_signed_in? %>
          <li class="nav-item new_tweet">
            <%= link_to new_path, class: "nav-link" do %>
            <%= icon("fas","comment") %>
            つぶやく
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to user_path(current_user), class: "nav-link" do %>
            <%= icon("fas","user") %>
            プロフィール
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to edit_user_registration_path, class: "nav-link" do %>
            <%= icon("fas","user-edit") %>
            プロフィール変更
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
            <%= icon("fas","sign-out-alt") %>
            ログアウト
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to new_user_registration_path, class: "nav-link" do %>
            <%= icon("fas","user-plus") %>
            サインアップ
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: "nav-link" do %>
            <%= icon("fas","sign-in-alt") %>
            ログイン
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    </nav>
  </div>
</header>
