<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <%= render 'layouts/rails_default.html.erb' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render 'layouts/header.html.erb' %>
    <%= yield %>
  </body>
</html>
